# Maven target directory
target/

# IntelliJ IDEA files
/.idea/
/*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
!src/main/resources/application.properties   # Make sure to track application.properties in resources
